/* the color are 
all that is merge with white:
#D5B487
#AA844F
#805A26
#55360B
#392100
*/
.workplace{
    background-image: url(../img/background.jpg);
    background-size: cover;
}
.Conference-room{
    height: 35%;
    width: 100%;
    background: rgba(0, 0, 255, 0.321);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Reception{
    height: 65%;
    width: 100%;
    background: rgba(128, 255, 0, 0.266);
    display: flex;
    justify-content: center;
    align-items: center;
}
 .minparte-1{
    width: 100%;
    height: 33%;
     background: rgba(255, 0, 225, 0.688); 
    
}

.Server-room{
    width: 100% ;
    background: rgba(255, 0, 0, 0.266);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Security-room{
    width: 100%;
    background: rgba(193, 251, 5, 0.584);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Staff-room {
    width: 100%;
    height: 35%;
}
.miniparte-3{
    width: 100%;
    height: 35%;
}
.Archives-room {
    width: 100%;
    height: 100%;
}
.miniparat-2{
    height: 33%;
    border: 1px solid black;
}
.Staff-room{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(238, 0, 255, 0.341);
}
.Archives-room{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.515);
}   